@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #3A6EA5;   
  --secondary: #223748;      
  --background: #0E1113;     
  --surface: #1A1F22;
  --text-color: #E6E6E6;
} 

h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: var(--background);
}
nav {
  background: var(--primary);
  padding: 50px 50px;
  text-align: center;
  border-bottom: var(--secondary) solid 5px;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

#navigation {
  display: flex;
  background-color: var(--primary);
  margin: 50px;
  border: var(--secondary) solid 3px;
  border-radius: 20px;
  padding: 20px 50px;
  gap: 50px
}

#navigation > * {
  text-decoration: none;
  color: var(--background);
  transition: all 0.5s ease;
}

#navigation > *:hover {
  color: white;
  scale: 1.1;
}

.item-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.item-card {
  background-color: var(--text-color);
  width:100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 25px;
  transition: all 0.3s ease
}

.item-card:hover {
  -webkit-box-shadow: 0px 0px 26px -5px #707070; 
  box-shadow: 0px 0px 26px -5px #707070;
  scale: 1.05;
}

.item-quant {
  background-color: var(--primary);
  border-radius: 15px;
  padding: 15px;
  margin: auto;
}